@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --color-bg: #f9fafb;
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-border: #e5e7eb;
  --color-task-bg: #f3f4f6;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 10px 10px 20px rgba(0,0,0, 0.1);
  border: 1px solid var(--color-border);
}

h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #111827;
}

form {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

input[type="text"] {
  flex: 1;
  padding: 0.75rem;
}

.btn{
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary-hover);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--color-task-bg);
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  transition: transform 0.2s ease, background 0.3s ease;
}

li:hover {
  transform: scale(1.02);
  background-color: #e5e7eb;
}

.divContent {
  padding: 1rem;
  flex-grow: 1;
  word-wrap: break-word;
}

.btnEliminar {
  background-color: var(--color-primary);
  border: none;
  padding: 0.75rem 1.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.btnEliminar:hover {
  background-color: #ea2424;
}






