body {
    background-color:antiquewhite;
    text-align: center;
    padding: 50px;
}

button {
    margin: 10px;
}

hr {
    border: 2px solid black;
}

div {
    margin: 25px;
    border: 2px solid black;
}

.title {
    color: red;
}









